footer.footer
	p.footer_content
		| Стоимость ХХ руб. с НДС за X дней с основного счета МТС +7XXXXXXXXXX. Нажатием кнопки «название
		| кнопки» вы осуществляете заказ доступа к услуге «название услуги, кратко отражающее ее
		| содержание», подтверждаете ознакомление и согласие с условиями его предоставления, Порядком
		| предоставления контентных услуг ПАО «МТС», правилами оказания услуги контент-провайдером
		| наименование контент-провайдера.

