header.header
	ul.header__menu
		li.header__menu_li
			a.header__menu_link.music(href='#')
				span Музыка
		li.header__menu_li
			a.header__menu_link.video(href='#')
				span Видео
		li.header__menu_li
			a.header__menu_link.games(href='#')
				span Игры
