.container
    .block
        .box.animated.zoomIn
            .title-wrapper
                p.title Обращаем внимание
            .box-content
                .optimizing
                    span Сайт оптимизирован для мобильных устройств.
                strong.log_in_text Чтобы продолжить нажмите “Войти”
                a.log_in Войти

